/* Created by: Marcus Wehbi
* Created on: May 2022
* This CSS file defines the style for index.html
* ICS2O-Unit5-03-HTML-Factorial
*/

body {
	background-color: rgb(255, 184, 201);
}

h1 {
	background-color: rgb(244, 243, 210);
	color: hsl(0, 97%, 25%);
	padding: 40px;
	text-align: center;
}

p {
	background-color: #be9db3;
}

div {
	
  font-weight: bold;
  color: #6d00a8;
  margin: 5px;
}

#display-results{
  background-color: #95daa6;
	font-size: 20px;
}
